<table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
  <tr>
    <td style="padding:30px 45px 30px 45px;line-height:22px;text-align:inherit;"
        height="100%"
        valign="top"
        bgcolor="">
        <div style="text-align: center;"><span style="color:#333333;">
          <p><%= i18n.info %> <a href="https://<%= store.domain %>/app/#/account/orders"><%= i18n.my_acc %></a> <%= i18n.contact_us %> </p>

          </span></div>
    </td>
  </tr>
</table>
